@import './reset.less';

// rem单位100
@rootSize: 100px;
// 设计稿尺寸
@designWidth: 750px;

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

body {
	background: #fdfbfc;
	color: #333;
	font-size: 32px;
	text-align: center;
}

html {
	font-size: @rootSize / @designWidth * 100vmin;
}
